
.quote-section {
    font-family: 'Roboto';
}

label {
    padding: 1%;
}

.btn {
    background-color: #4A403A;
    margin: 10px 0;
    border: none;
}

.btn:hover {
    background-color: #A45D5D;
    transition: 200ms;
}

.return-section {
    font-family: 'Roboto';
}

.return-text {
    font-family: 'Playfair';
    
}

.container-fluid {
    background-color: #C7BEA2;
    padding: 2%;
}