<div class="container-fluid">
  <div class="row">
    <div class=" col-4 quote-section">
      <form #f="ngForm" ngSubmit="onSubmit()">
        <label for="">Quote</label>
        <input class="form-control" name="quote" [(ngModel)]="quoteMessage" type="text" placeholder="">
        <label for="">Author</label>
        <input class="form-control" name="author" [(ngModel)]="quoteAuthor" type="text">
        <label for="">Your Name</label>
        <input class="form-control" name="user" [(ngModel)]="quoteUser" type="text">
        <button (click)="onSubmit()" class="btn btn-primary btn-lg">Submit Your Quote</button>
      </form>
      <div class=" return-section">
        <p class="return-text">Quote: <span>{{quoteMessage}}</span></p>
        <p class="return-text">Author: <span>{{quoteAuthor}}</span></p>
        <p class="return-text">Your Name: <span>{{quoteUser}}</span></p>
      </div>
    </div>
    <div *ngFor='let quote of quotes' class="col-8">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Quote: {{quote.quoteMessage}} <span></span></h5>
          <p class="card-text">Author: {{quote.quoteAuthor}} </p>
          <p class="card-text">Submitted by: {{quote.quoteUser}} </p>
          <button class="btn btn-primary" type="submit" >Like</button>
          <button class="btn btn-primary" type="submit" >Dislike</button>
        </div>
      </div>
    </div>
  </div>
</div>
